<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.hui.cordova.share"
	version="0.1.1">

	<name>Share</name>
	<description>Cordova Share Plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,share</keywords>

	<js-module src="www/share.js" name="share">
		<clobbers target="Share" />
	</js-module>


	<!-- android -->
	<platform name="android">
	
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Share">
				<param name="android-package" value="org.hui.cordova.share.Share"/>
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
			<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="cn.sharesdk.framework.ShareSDKUIShell"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateHidden|adjustResize" >
				<intent-filter>
					<data android:scheme="tencent100371282" />
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.BROWSABLE" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
 
			<!--微信分享回调 -->
			<activity
				android:name=".wxapi.WXEntryActivity"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:exported="true"
				android:screenOrientation="portrait" /> 

			<!--易信分享回调 -->
			<activity
				android:name=".yxapi.YXEntryActivity"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"
				android:configChanges="keyboardHidden|orientation|screenSize"
				android:exported="true"
				android:screenOrientation="portrait" />
		</config-file>

		<!-- PS:微信分享回调，此处包名必须是项目包名+.wxapi，否则调用后应用会停止运行！！(微信回调时按照硬编码需找class的，不按规则会是java.lang.ClassNotFoundException) -->
		<source-file src="src/android/WXEntryActivity.java" target-dir="src/com/hui/sportapp/test/wxapi" />
		
		<source-file src="src/android/Share.java" target-dir="src/org/hui/cordova/share" />
		<source-file src="src/libs/mframework.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Core-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-OneKeyShare-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-DouBan-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-QQ-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-QZone-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-RenRen-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-ShortMessage-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-SinaWeibo-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-TencentWeibo-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Wechat-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Wechat-Core-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Wechat-Favorite-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Wechat-Moments-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Yixin-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Yixin-Core-2.5.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/libs/ShareSDK-Yixin-Moments-2.5.4.jar" target-dir="libs" framework="true" />

		<resource-file src="assets/ShareSDK.xml" target="assets/ShareSDK.xml"/>
		
		<resource-file src="res/drawable/skyblue_platform_list_item.xml" target="res/drawable/skyblue_platform_list_item.xml"/>
		<resource-file src="res/drawable/skyblue_platform_list_item_selected.xml" target="res/drawable/skyblue_platform_list_item_selected.xml"/>
		<resource-file src="res/drawable/skyblue_platform_list_selector.xml" target="res/drawable/skyblue_platform_list_selector.xml"/>
		<resource-file src="res/drawable-hdpi/list_item_first_normal.9.png" target="res/drawable-hdpi/list_item_first_normal.9.png"/>
		<resource-file src="res/drawable-hdpi/list_item_last_normal.9.png" target="res/drawable-hdpi/list_item_last_normal.9.png"/>
		<resource-file src="res/drawable-hdpi/list_item_middle_normal.9.png" target="res/drawable-hdpi/list_item_middle_normal.9.png"/>
		<resource-file src="res/drawable-hdpi/list_item_single_normal.9.png" target="res/drawable-hdpi/list_item_single_normal.9.png"/>
		<resource-file src="res/drawable-hdpi/pointer.png" target="res/drawable-hdpi/pointer.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_oks_ptr_ptr.png" target="res/drawable-hdpi/ssdk_oks_ptr_ptr.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_default_icon.png" target="res/drawable-hdpi/ssdk_social_cl_default_icon.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_floor_1st.9.png" target="res/drawable-hdpi/ssdk_social_cl_floor_1st.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_floor_end.9.png" target="res/drawable-hdpi/ssdk_social_cl_floor_end.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_floor_mid.9.png" target="res/drawable-hdpi/ssdk_social_cl_floor_mid.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_floor_sgl.9.png" target="res/drawable-hdpi/ssdk_social_cl_floor_sgl.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_like.png" target="res/drawable-hdpi/ssdk_social_cl_like.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_popview.9.png" target="res/drawable-hdpi/ssdk_social_cl_popview.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_rp_back.png" target="res/drawable-hdpi/ssdk_social_cl_rp_back.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_rp_chacc.9.png" target="res/drawable-hdpi/ssdk_social_cl_rp_chacc.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_tabbg.9.png" target="res/drawable-hdpi/ssdk_social_cl_tabbg.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_tabbg_1.9.png" target="res/drawable-hdpi/ssdk_social_cl_tabbg_1.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_cl_unlike.png" target="res/drawable-hdpi/ssdk_social_cl_unlike.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_rp_reply.xml" target="res/drawable-hdpi/ssdk_social_rp_reply.xml"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_rp_reply_nor.9.png" target="res/drawable-hdpi/ssdk_social_rp_reply_nor.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_rp_reply_pre.9.png" target="res/drawable-hdpi/ssdk_social_rp_reply_pre.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_toolbar_comment.9.png" target="res/drawable-hdpi/ssdk_social_toolbar_comment.9.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_toolbar_divier.png" target="res/drawable-hdpi/ssdk_social_toolbar_divier.png"/>
		<resource-file src="res/drawable-hdpi/ssdk_social_vip.png" target="res/drawable-hdpi/ssdk_social_vip.png"/>
		<resource-file src="res/layout/page_comment_like.xml" target="res/layout/page_comment_like.xml"/>
		<resource-file src="res/layout/skyblue_editpage.xml" target="res/layout/skyblue_editpage.xml"/>
		<resource-file src="res/layout/skyblue_editpage_at_layout.xml" target="res/layout/skyblue_editpage_at_layout.xml"/>
		<resource-file src="res/layout/skyblue_editpage_inc_image_layout.xml" target="res/layout/skyblue_editpage_inc_image_layout.xml"/>
		<resource-file src="res/layout/skyblue_share_actionbar.xml" target="res/layout/skyblue_share_actionbar.xml"/>
		<resource-file src="res/layout/skyblue_share_platform_list.xml" target="res/layout/skyblue_share_platform_list.xml"/>
		<resource-file src="res/layout/skyblue_share_platform_list_item.xml" target="res/layout/skyblue_share_platform_list_item.xml"/>
		<resource-file src="res/values/colors.xml" target="res/values/colors.xml"/>
		<resource-file src="res/values/instapaper_strings.xml" target="res/values/instapaper_strings.xml"/>
		<resource-file src="res/values/oks_strings.xml" target="res/values/oks_strings.xml"/>
		<resource-file src="res/values/ssdk_social_strings.xml" target="res/values/ssdk_social_strings.xml"/>
		<resource-file src="res/values/ssdk_strings.xml" target="res/values/ssdk_strings.xml"/>
		<resource-file src="res/values/styles.xml" target="res/values/styles.xml"/>
		<resource-file src="res/values-en/oks_strings.xml" target="res/values-en/oks_strings.xml"/>
		<resource-file src="res/values-en/ssdk_social_strings.xml" target="res/values-en/ssdk_social_strings.xml"/>
		<resource-file src="res/values-en/ssdk_strings.xml" target="res/values-en/ssdk_strings.xml"/>
		<resource-file src="res/values-en/strings.xml" target="res/values-en/strings.xml"/>
		<resource-file src="res/drawable-xhdpi/auth_follow_cb_unc.png" target="res/drawable-xhdpi/auth_follow_cb_unc.png"/>
		<resource-file src="res/drawable-xhdpi/auth_follow_cb_chd.png" target="res/drawable-xhdpi/auth_follow_cb_chd.png"/>
		<resource-file src="res/drawable-xhdpi/auth_title_back.png" target="res/drawable-xhdpi/auth_title_back.png"/>
		<resource-file src="res/drawable-xhdpi/btn_back_nor.9.png" target="res/drawable-xhdpi/btn_back_nor.9.png"/>
		<resource-file src="res/drawable-xhdpi/btn_cancel_back.9.png" target="res/drawable-xhdpi/btn_cancel_back.9.png"/>
		<resource-file src="res/drawable-xhdpi/edittext_back.9.png" target="res/drawable-xhdpi/edittext_back.9.png"/>
		<resource-file src="res/drawable-xhdpi/gray_point.png" target="res/drawable-xhdpi/gray_point.png"/>
		<resource-file src="res/drawable-xhdpi/img_cancel.png" target="res/drawable-xhdpi/img_cancel.png"/>
		<resource-file src="res/drawable-xhdpi/logo_bluetooth.png" target="res/drawable-xhdpi/logo_bluetooth.png"/>
		<resource-file src="res/drawable-xhdpi/logo_douban.png" target="res/drawable-xhdpi/logo_douban.png"/>
		<resource-file src="res/drawable-xhdpi/logo_dropbox.png" target="res/drawable-xhdpi/logo_dropbox.png"/>
		<resource-file src="res/drawable-xhdpi/logo_email.png" target="res/drawable-xhdpi/logo_email.png"/>
		<resource-file src="res/drawable-xhdpi/logo_evernote.png" target="res/drawable-xhdpi/logo_evernote.png"/>
		<resource-file src="res/drawable-xhdpi/logo_facebook.png" target="res/drawable-xhdpi/logo_facebook.png"/>
		<resource-file src="res/drawable-xhdpi/logo_facebookmessenger.png" target="res/drawable-xhdpi/logo_facebookmessenger.png"/>
		<resource-file src="res/drawable-xhdpi/logo_flickr.png" target="res/drawable-xhdpi/logo_flickr.png"/>
		<resource-file src="res/drawable-xhdpi/logo_foursquare.png" target="res/drawable-xhdpi/logo_foursquare.png"/>
		<resource-file src="res/drawable-xhdpi/logo_googleplus.png" target="res/drawable-xhdpi/logo_googleplus.png"/>
		<resource-file src="res/drawable-xhdpi/logo_instagram.png" target="res/drawable-xhdpi/logo_instagram.png"/>
		<resource-file src="res/drawable-xhdpi/logo_instapaper.png" target="res/drawable-xhdpi/logo_instapaper.png"/>
		<resource-file src="res/drawable-xhdpi/logo_kaixin.png" target="res/drawable-xhdpi/logo_kaixin.png"/>
		<resource-file src="res/drawable-xhdpi/logo_kakaostory.png" target="res/drawable-xhdpi/logo_kakaostory.png"/>
		<resource-file src="res/drawable-xhdpi/logo_kakaotalk.png" target="res/drawable-xhdpi/logo_kakaotalk.png"/>
		<resource-file src="res/drawable-xhdpi/logo_line.png" target="res/drawable-xhdpi/logo_line.png"/>
		<resource-file src="res/drawable-xhdpi/logo_linkedin.png" target="res/drawable-xhdpi/logo_linkedin.png"/>
		<resource-file src="res/drawable-xhdpi/logo_mingdao.png" target="res/drawable-xhdpi/logo_mingdao.png"/>
		<resource-file src="res/drawable-xhdpi/logo_neteasemicroblog.png" target="res/drawable-xhdpi/logo_neteasemicroblog.png"/>
		<resource-file src="res/drawable-xhdpi/logo_pinterest.png" target="res/drawable-xhdpi/logo_pinterest.png"/>
		<resource-file src="res/drawable-xhdpi/logo_pocket.png" target="res/drawable-xhdpi/logo_pocket.png"/>
		<resource-file src="res/drawable-xhdpi/logo_qq.png" target="res/drawable-xhdpi/logo_qq.png"/>
		<resource-file src="res/drawable-xhdpi/logo_qzone.png" target="res/drawable-xhdpi/logo_qzone.png"/>
		<resource-file src="res/drawable-xhdpi/logo_renren.png" target="res/drawable-xhdpi/logo_renren.png"/>
		<resource-file src="res/drawable-xhdpi/logo_sharesdk.png" target="res/drawable-xhdpi/logo_sharesdk.png"/>
		<resource-file src="res/drawable-xhdpi/logo_shortmessage.png" target="res/drawable-xhdpi/logo_shortmessage.png"/>
		<resource-file src="res/drawable-xhdpi/logo_sinaweibo.png" target="res/drawable-xhdpi/logo_sinaweibo.png"/>
		<resource-file src="res/drawable-xhdpi/logo_sohumicroblog.png" target="res/drawable-xhdpi/logo_sohumicroblog.png"/>
		<resource-file src="res/drawable-xhdpi/logo_sohusuishenkan.png" target="res/drawable-xhdpi/logo_sohusuishenkan.png"/>
		<resource-file src="res/drawable-xhdpi/logo_tencentweibo.png" target="res/drawable-xhdpi/logo_tencentweibo.png"/>
		<resource-file src="res/drawable-xhdpi/logo_tumblr.png" target="res/drawable-xhdpi/logo_tumblr.png"/>
		<resource-file src="res/drawable-xhdpi/logo_twitter.png" target="res/drawable-xhdpi/logo_twitter.png"/>
		<resource-file src="res/drawable-xhdpi/logo_vkontakte.png" target="res/drawable-xhdpi/logo_vkontakte.png"/>
		<resource-file src="res/drawable-xhdpi/logo_wechat.png" target="res/drawable-xhdpi/logo_wechat.png"/>
		<resource-file src="res/drawable-xhdpi/logo_wechatfavorite.png" target="res/drawable-xhdpi/logo_wechatfavorite.png"/>
		<resource-file src="res/drawable-xhdpi/logo_wechatmoments.png" target="res/drawable-xhdpi/logo_wechatmoments.png"/>
		<resource-file src="res/drawable-xhdpi/logo_whatsapp.png" target="res/drawable-xhdpi/logo_whatsapp.png"/>
		<resource-file src="res/drawable-xhdpi/logo_yixin.png" target="res/drawable-xhdpi/logo_yixin.png"/>
		<resource-file src="res/drawable-xhdpi/logo_yixinmoments.png" target="res/drawable-xhdpi/logo_yixinmoments.png"/>
		<resource-file src="res/drawable-xhdpi/logo_youdao.png" target="res/drawable-xhdpi/logo_youdao.png"/>
		<resource-file src="res/drawable-xhdpi/pic.jpg" target="res/drawable-xhdpi/pic.jpg"/>
		<resource-file src="res/drawable-xhdpi/pin.png" target="res/drawable-xhdpi/pin.png"/>
		<resource-file src="res/drawable-xhdpi/share_vp_back.9.png" target="res/drawable-xhdpi/share_vp_back.9.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_actionbar_back_btn.png" target="res/drawable-xhdpi/skyblue_actionbar_back_btn.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_actionbar_ok_btn.png" target="res/drawable-xhdpi/skyblue_actionbar_ok_btn.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_editpage_bg.9.png" target="res/drawable-xhdpi/skyblue_editpage_bg.9.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_editpage_close.png" target="res/drawable-xhdpi/skyblue_editpage_close.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_editpage_divider.9.png" target="res/drawable-xhdpi/skyblue_editpage_divider.9.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_editpage_image_bg.9.png" target="res/drawable-xhdpi/skyblue_editpage_image_bg.9.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_editpage_image_remove.png" target="res/drawable-xhdpi/skyblue_editpage_image_remove.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_bluetooth.png" target="res/drawable-xhdpi/skyblue_logo_bluetooth.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_bluetooth_checked.png" target="res/drawable-xhdpi/skyblue_logo_bluetooth_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_douban.png" target="res/drawable-xhdpi/skyblue_logo_douban.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_douban_checked.png" target="res/drawable-xhdpi/skyblue_logo_douban_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_dropbox.png" target="res/drawable-xhdpi/skyblue_logo_dropbox.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_dropbox_checked.png" target="res/drawable-xhdpi/skyblue_logo_dropbox_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_email.png" target="res/drawable-xhdpi/skyblue_logo_email.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_email_checked.png" target="res/drawable-xhdpi/skyblue_logo_email_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_evernote.png" target="res/drawable-xhdpi/skyblue_logo_evernote.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_evernote_checked.png" target="res/drawable-xhdpi/skyblue_logo_evernote_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_facebook.png" target="res/drawable-xhdpi/skyblue_logo_facebook.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_facebook_checked.png" target="res/drawable-xhdpi/skyblue_logo_facebook_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_facebookmessenger.png" target="res/drawable-xhdpi/skyblue_logo_facebookmessenger.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_facebookmessenger_checked.png" target="res/drawable-xhdpi/skyblue_logo_facebookmessenger_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_flickr.png" target="res/drawable-xhdpi/skyblue_logo_flickr.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_flickr_checked.png" target="res/drawable-xhdpi/skyblue_logo_flickr_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_foursquare.png" target="res/drawable-xhdpi/skyblue_logo_foursquare.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_foursquare_checked.png" target="res/drawable-xhdpi/skyblue_logo_foursquare_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_googleplus.png" target="res/drawable-xhdpi/skyblue_logo_googleplus.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_googleplus_checked.png" target="res/drawable-xhdpi/skyblue_logo_googleplus_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_instagram.png" target="res/drawable-xhdpi/skyblue_logo_instagram.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_instagram_checked.png" target="res/drawable-xhdpi/skyblue_logo_instagram_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_instapaper.png" target="res/drawable-xhdpi/skyblue_logo_instapaper.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_instapaper_checked.png" target="res/drawable-xhdpi/skyblue_logo_instapaper_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kaixin.png" target="res/drawable-xhdpi/skyblue_logo_kaixin.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kaixin_checked.png" target="res/drawable-xhdpi/skyblue_logo_kaixin_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kakaostory.png" target="res/drawable-xhdpi/skyblue_logo_kakaostory.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kakaostory_checked.png" target="res/drawable-xhdpi/skyblue_logo_kakaostory_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kakaotalk.png" target="res/drawable-xhdpi/skyblue_logo_kakaotalk.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_kakaotalk_checked.png" target="res/drawable-xhdpi/skyblue_logo_kakaotalk_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_line.png" target="res/drawable-xhdpi/skyblue_logo_line.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_line_checked.png" target="res/drawable-xhdpi/skyblue_logo_line_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_linkedin.png" target="res/drawable-xhdpi/skyblue_logo_linkedin.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_linkedin_checked.png" target="res/drawable-xhdpi/skyblue_logo_linkedin_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_mingdao.png" target="res/drawable-xhdpi/skyblue_logo_mingdao.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_mingdao_checked.png" target="res/drawable-xhdpi/skyblue_logo_mingdao_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_neteasemicroblog.png" target="res/drawable-xhdpi/skyblue_logo_neteasemicroblog.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_neteasemicroblog_checked.png" target="res/drawable-xhdpi/skyblue_logo_neteasemicroblog_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_pinterest.png" target="res/drawable-xhdpi/skyblue_logo_pinterest.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_pinterest_checked.png" target="res/drawable-xhdpi/skyblue_logo_pinterest_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_pocket.png" target="res/drawable-xhdpi/skyblue_logo_pocket.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_pocket_checked.png" target="res/drawable-xhdpi/skyblue_logo_pocket_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_qq.png" target="res/drawable-xhdpi/skyblue_logo_qq.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_qq_checked.png" target="res/drawable-xhdpi/skyblue_logo_qq_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_qzone.png" target="res/drawable-xhdpi/skyblue_logo_qzone.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_qzone_checked.png" target="res/drawable-xhdpi/skyblue_logo_qzone_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_renren.png" target="res/drawable-xhdpi/skyblue_logo_renren.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_renren_checked.png" target="res/drawable-xhdpi/skyblue_logo_renren_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_shortmessage.png" target="res/drawable-xhdpi/skyblue_logo_shortmessage.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_shortmessage_checked.png" target="res/drawable-xhdpi/skyblue_logo_shortmessage_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sinaweibo.png" target="res/drawable-xhdpi/skyblue_logo_sinaweibo.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sinaweibo_checked.png" target="res/drawable-xhdpi/skyblue_logo_sinaweibo_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sohumicroblog.png" target="res/drawable-xhdpi/skyblue_logo_sohumicroblog.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sohumicroblog_checked.png" target="res/drawable-xhdpi/skyblue_logo_sohumicroblog_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sohusuishenkan.png" target="res/drawable-xhdpi/skyblue_logo_sohusuishenkan.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_sohusuishenkan_checked.png" target="res/drawable-xhdpi/skyblue_logo_sohusuishenkan_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_tencentweibo.png" target="res/drawable-xhdpi/skyblue_logo_tencentweibo.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_tencentweibo_checked.png" target="res/drawable-xhdpi/skyblue_logo_tencentweibo_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_tumblr.png" target="res/drawable-xhdpi/skyblue_logo_tumblr.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_tumblr_checked.png" target="res/drawable-xhdpi/skyblue_logo_tumblr_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_twitter.png" target="res/drawable-xhdpi/skyblue_logo_twitter.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_twitter_checked.png" target="res/drawable-xhdpi/skyblue_logo_twitter_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_vkontakte.png" target="res/drawable-xhdpi/skyblue_logo_vkontakte.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_vkontakte_checked.png" target="res/drawable-xhdpi/skyblue_logo_vkontakte_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechat.png" target="res/drawable-xhdpi/skyblue_logo_wechat.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechat_checked.png" target="res/drawable-xhdpi/skyblue_logo_wechat_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechatfavorite.png" target="res/drawable-xhdpi/skyblue_logo_wechatfavorite.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechatfavorite_checked.png" target="res/drawable-xhdpi/skyblue_logo_wechatfavorite_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechatmoments.png" target="res/drawable-xhdpi/skyblue_logo_wechatmoments.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_wechatmoments_checked.png" target="res/drawable-xhdpi/skyblue_logo_wechatmoments_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_whatsapp.png" target="res/drawable-xhdpi/skyblue_logo_whatsapp.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_whatsapp_checked.png" target="res/drawable-xhdpi/skyblue_logo_whatsapp_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_yixin.png" target="res/drawable-xhdpi/skyblue_logo_yixin.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_yixin_checked.png" target="res/drawable-xhdpi/skyblue_logo_yixin_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_yixinmoments.png" target="res/drawable-xhdpi/skyblue_logo_yixinmoments.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_yixinmoments_checked.png" target="res/drawable-xhdpi/skyblue_logo_yixinmoments_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_youdao.png" target="res/drawable-xhdpi/skyblue_logo_youdao.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_logo_youdao_checked.png" target="res/drawable-xhdpi/skyblue_logo_youdao_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_platform_checked.png" target="res/drawable-xhdpi/skyblue_platform_checked.png"/>
		<resource-file src="res/drawable-xhdpi/skyblue_platform_checked_disabled.png" target="res/drawable-xhdpi/skyblue_platform_checked_disabled.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_auth_title_back.png" target="res/drawable-xhdpi/ssdk_auth_title_back.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_back_arr.png" target="res/drawable-xhdpi/ssdk_back_arr.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_logo.png" target="res/drawable-xhdpi/ssdk_logo.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_oks_shake_to_share_back.xml" target="res/drawable-xhdpi/ssdk_oks_shake_to_share_back.xml"/>
		<resource-file src="res/drawable-xhdpi/ssdk_oks_yaoyiyao.png" target="res/drawable-xhdpi/ssdk_oks_yaoyiyao.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_cl_empty.png" target="res/drawable-xhdpi/ssdk_social_cl_empty.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_cl_pop_copy.png" target="res/drawable-xhdpi/ssdk_social_cl_pop_copy.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_cl_pop_share.png" target="res/drawable-xhdpi/ssdk_social_cl_pop_share.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_cl_pop_reply.png" target="res/drawable-xhdpi/ssdk_social_cl_pop_reply.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_toolbar_back.png" target="res/drawable-xhdpi/ssdk_social_toolbar_back.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_toolbar_dislike.png" target="res/drawable-xhdpi/ssdk_social_toolbar_dislike.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_toolbar_like.png" target="res/drawable-xhdpi/ssdk_social_toolbar_like.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_toolbar_reply.png" target="res/drawable-xhdpi/ssdk_social_toolbar_reply.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_social_toolbar_share.png" target="res/drawable-xhdpi/ssdk_social_toolbar_share.png"/>
		<resource-file src="res/drawable-xhdpi/ssdk_title_div.png" target="res/drawable-xhdpi/ssdk_title_div.png"/>
		<resource-file src="res/drawable-xhdpi/title_back.png" target="res/drawable-xhdpi/title_back.png"/>
		<resource-file src="res/drawable-xhdpi/title_shadow.png" target="res/drawable-xhdpi/title_shadow.png"/>
		<resource-file src="res/drawable-xhdpi/white_point.png" target="res/drawable-xhdpi/white_point.png"/>
				
	</platform>

</plugin>
